extends layout

block scripts
  script(src='https://cdn.jsdelivr.net/npm/chart.js' defer)
  script(src='js/script.js' defer)
  script.
    const chartData = !{JSON.stringify(chartData)}

block content
  .balance Saldo&nbsp;
    span #{locals.h.amountFormat(balance)}
  .cash-flow
    a.btn-outflow(href='/transactions/create?type=outflow')
      span -
    a.btn-inflow(href='/transactions/create?type=inflow')
      span +

  if Object.keys(chartData).length
    a.month(href='/transactions')= locals.h.getMonthName(new Date())
  .chart
    canvas#chart
