extends layout
include mixins/_flash

block content
  +flash()
  .balance Saldo&nbsp;
    span S/ 450
  .cash-flow
      a.btn-outflow(href='/transaction?type=outflow')
        span -
      a.btn-inflow(href='/transaction?type=inflow')
        span +
