doctype html
html
  head
    title= title

    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap' rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')
  body
    main.container
      block content
