:root {
  --green: #7AC795;
  --red: #EC5051;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #181818;
  font-family: 'Montserrat', sans-serif;
  color: #CCCCCC;
}

h1 {
  text-align: center;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

/* Utilities */
.text-end {
  text-align: right;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 50rem;
  padding: 1.5rem;
  border-bottom: 1px solid #333333;
}

nav a {
  color: inherit;
  font-size: 1.1rem;
  text-decoration: none;
}

nav a:hover {
  color: var(--green);
}

/* Main */
.balance {
  margin: 3rem 0 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.cash-flow {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.btn-outflow,
.btn-inflow {
  display: flex;
  margin: 0 2rem;
  height: 10rem;
  width: 10rem;
  border: .3rem solid #CCC;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.btn-outflow {
  border-color: var(--red);
  color: var(--red);
}

.btn-inflow {
  border-color: var(--green);
  color: var(--green);
}

.btn-outflow:hover,
.btn-inflow:hover {
  transform: scale(1.05);
}

.month {
  display: block;
  margin: 2.5rem auto 0;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: var(--red)
}

.month:hover {
  text-decoration: underline;
}

/* Chart */
.chart {
  margin: 2rem auto 0;
  width: 35rem;
}

/* Trasaction  form */
.transaction-title {
  text-align: center;
  margin: 3rem;
  font-size: 2rem;
}

.transaction {
  display: flex;
  flex-direction: column;
  max-width: 17rem;
  margin: 0 auto;
}

.account,
.category,
.amount,
.note,
.btn {
  margin-bottom: 1.5rem;
  height: 2rem;
  border: 1px solid #313131;
  border-radius: 5px;
  padding: 0 .5rem;
  background-color: #121212;
  color: #CCCCCC;
  font-family: inherit;
}

.amount {
  text-align: right;
}

.btn {
  color: #181818;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
}

.inflow > *:focus {
  outline: none !important;
  border-color: var(--green);
}

.outflow > *:focus {
  outline: none !important;
  border-color: var(--red);
}

.inflow .btn {
  background-color: var(--green);
}

.outflow .btn {
  background-color: var(--red);
}

.text-green {
  color: var(--green);
}

.text-red {
  color: var(--red);
}

/* Transaction index */
.transactions-title {
  margin: 3rem;
  font-size: 2rem;
}

.icon-inflow,
.icon-outflow {
  position: relative;
  top: -3px;
  display: inline-block;
  margin-right: .5rem;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.2rem;
  border-radius: 50%;
}

.icon-inflow {
  background-color: var(--green);
}

.icon-outflow {
  background-color: var(--red);
}

.transactions-table {
  margin: 2rem auto;
  width: 25rem;
}

.transactions-table th {
  text-align: left;
}

.transactions-table th:last-child {
  text-align: right;
}

/* Flashes */
.flash-messages {
  margin: 1rem auto 0;
  width: 30rem;
}

.flash {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: .5rem auto;
  padding: 1rem;
  border-radius: .2rem;
  font-size: 1rem;
}

.flash-success {
  border-left: 5px solid #38B2AC;
  background-color: #E6FFFA;
  color: #234E52;
}

.flash-error {
  border-left: 5px solid #F56565;
  background-color: #FFF5F5;
  color: #C53030;
}

.flash-close {
  height: 1rem;
  border: none;
  padding: 0 .2rem;
  background-color: inherit;
  color: inherit;
  font-size: 1.1rem;
}

.flash-close:hover {
  cursor: pointer;
}

/* Hide arrows from input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
