nav.navbar
  a.logo(href='/') Cash Flow

  ul
    if user
      li
        a(href='#') Operaciones <i class='bx bx-chevron-down'></i>
        ul
          li
            a(href='/categories') Categorías
          li
            a(href='/accounts') Cuentas
    if user
      li
        a(href='#') #{user.name} <i class='bx bx-chevron-down'></i>
        ul
          li
            a(href='/logout') Cerrar sessión
    else
      li
        a(href='/login') Iniciar Sesión
      li
        a(href='/register') Crear cuenta
