include mixins/_flash

doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Cash Flow

    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap' rel='stylesheet')
    link(href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')

  body
    include includes/nav.pug
    main.container
      +flash()
      block content

    block scripts
      script.
        const form = document.querySelector('form');
        if (form) {
          form.addEventListener('submit', function() {
            console.log('in submit')
            this.querySelector('input[type="submit"]')
              .setAttribute('disabled', 'disabled');
          }, false);
        }
