:root {
  --green: #7ac795;
  --red: #ec5051;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #181818;
  font-family: 'Montserrat', sans-serif;
  color: #cccccc;
}

h1 {
  text-align: center;
}

h2 {
  margin: 3rem;
  font-size: 2rem;
  text-align: center;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

/* Utilities */
.text-end {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Nav */
.navbar {
  margin: 0 auto;
  max-width: 60rem;
  border-bottom: 1px solid #404040;
}

.logo {
  text-decoration: none;
  line-height: 4rem;
  font-size: 1.5rem;
  color: inherit;
}

.navbar ul {
  margin: 0;
  padding: 0;
  float: right;
}

.navbar ul li {
  display: inline-block;
  position: relative;
  list-style: none;
}

.navbar ul li a {
  display: block;
  padding: 0 1rem;
  color: #ccc;
  line-height: 4rem;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar ul li a:hover {
  background: #0d0d0d;
}

.navbar ul ul {
  position: absolute;
  display: none;
  background: #141414;
}

.navbar ul li:hover > ul {
  display: block;
}

.navbar ul ul li {
  width: 100%;
}

/* Authentication */
.login-title {
  margin: 3rem 0 2rem;
  text-align: center;
}

.login {
  margin: 0 auto;
  max-width: 18rem;
}

.login input {
  margin: .5rem 0 1rem;
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1.1rem;
  background: #e6e6e6;
}

.login input:focus {
  outline: none !important;
}

.login input[type='submit'] {
  background: #1B5040;
  color: #fff;
  cursor: pointer;
}

.login ~ p {
  text-align: center;
}

.login ~ p > a {
  text-decoration: none;
  color: gray;
}

.login ~ p > a:hover {
  text-decoration: underline;
}

/* Main */
.balance {
  margin: 3rem 0 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.cash-flow {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.btn-outflow,
.btn-inflow {
  display: flex;
  margin: 0 2rem;
  height: 9rem;
  width: 9rem;
  border: 0.3rem solid #ccc;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.btn-outflow {
  border-color: var(--red);
  color: var(--red);
}

.btn-inflow {
  border-color: var(--green);
  color: var(--green);
}

.btn-outflow:hover,
.btn-inflow:hover {
  transform: scale(1.05);
}

.month {
  display: block;
  margin: 2.5rem auto 0;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: var(--red);
}

.month:hover {
  text-decoration: underline;
}

/* Chart */
.chart {
  margin: 2rem auto 0;
  max-width: 30rem;
}

/* Trasaction  form */
.transaction-title {
  text-align: center;
  margin: 3rem;
  font-size: 2rem;
}

.transaction {
  display: flex;
  flex-direction: column;
  max-width: 17rem;
  margin: 0 auto;
}

.account,
.category,
.amount,
.note,
.btn {
  margin-bottom: 1.5rem;
  height: 2rem;
  border: 1px solid #313131;
  border-radius: 5px;
  padding: 0 0.5rem;
  background-color: #121212;
  color: #cccccc;
  font-family: inherit;
}

.amount {
  text-align: right;
}

.btn {
  color: #181818;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
}

.inflow > *:focus {
  outline: none !important;
  border-color: var(--green);
}

.outflow > *:focus {
  outline: none !important;
  border-color: var(--red);
}

.inflow .btn {
  background-color: var(--green);
}

.outflow .btn {
  background-color: var(--red);
}

.text-green {
  color: var(--green);
}

.text-red {
  color: var(--red);
}

/* Transaction index */
.icon-inflow,
.icon-outflow {
  position: relative;
  top: -3px;
  display: inline-block;
  margin-right: 0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.2rem;
  border-radius: 50%;
}

.icon-inflow {
  background-color: var(--green);
}

.icon-outflow {
  background-color: var(--red);
}

.transactions-table {
  margin: 2rem auto;
  width: 25rem;
}

.transactions-table th {
  text-align: left;
}

.transactions-table th:last-child {
  text-align: right;
}

.category-cell > span {
  color: #999;
  font-size: .9rem;
  padding-left: 1rem;
}

.amount-cell {
  text-align: right;
  vertical-align: top;
}

.day-cell {
  vertical-align: text-top;
}

/* Accounts */
.update-form {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  margin: 1.5rem auto;
}

.update-form input {
  width: 17rem;
  height: 2rem;
  border: 1px solid #808080;
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  font-family: inherit;
  background: #121212;
  color: #ccc;
}

.update-form .btn-delete {
  width: 6rem;
  height: 2rem;
  border: 1px solid #808080;
  border-radius: 0.3rem;
  background: #333333;
  color: #cccccc;
  line-height: 2rem;
  text-decoration: none;
  text-align: center;
  font-size: 13.33px;
}

.update-form .btn-save {
  width: 6rem;
  border: 1px solid #808080;
  background: #333333;
  color: #cccccc;
}

.update-form input:focus {
  outline: none !important;
}

.update-form .btn-save:hover,
.update-form .btn-delete:hover {
  background: #4d4d4d;
  border: 1px solid #b3b3b3;
  cursor: pointer;
}

.update-form.new-form {
  justify-content: flex-start;
}

.update-form.new-form .btn-save {
  margin-left: .3rem;
}

/* Flashes */
.flash-messages {
  margin: 1rem auto 0;
  width: 30rem;
}

.flash {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
}

.flash-success {
  border-left: 5px solid #38b2ac;
  background-color: #e6fffa;
  color: #234e52;
}

.flash-error {
  border-left: 5px solid #f56565;
  background-color: #fff5f5;
  color: #c53030;
}

.flash-close {
  height: 1rem;
  border: none;
  padding: 0 0.2rem;
  background-color: inherit;
  color: inherit;
  font-size: 1.1rem;
}

.flash-close:hover {
  cursor: pointer;
}

/* Hide arrows from input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
