extends ../layout

block content
  - const textColor = type == 'inflow' ? 'text-green' : 'text-red'
  - const title = type == 'inflow' ? 'Registrar Ingreso' : 'Registrar Egreso'

  h2(class=textColor)= title

  form.transaction(method='POST' action='/transactions' autocomplete='off' class=type)
    select.account(name='account' required)
      option(value='') --Seleccione una cuenta--
      each account in accounts
        option(value=account._id)= account.description
    select.category(name='category' required)
      option(value='') --Seleccione una categoría--
      each category in categories
        option(value=category._id)= category.description
    input.amount(type='number' name='amount' placeholder='Monto' min='1' step='any' required)
    input.note(type='text' name='note' placeholder='Nota')
    input.btn(type='submit' value='Registrar')
