extends ../layout

block content
  h1.transactions-title Transacciones del mes de #{locals.h.getMonthName(new Date())}

  table.transactions-table
    thead
      tr
        th Día
        th Categoría
        th Monto

    tbody
      each transaction in transactions
        tr
          td= transaction.date.getDate()
          td
            span(class='icon-' + transaction.category.type)
            |  #{transaction.category.description}
          td.text-end= locals.h.amountFormat(transaction.amount)
