extends ../layout

block content
  h1.transactions-title Transacciones del mes de #{month}

  table.transactions-table
    thead
      tr
        th Día
        th Categoría
        th Monto

    tbody
      each transaction in transactions
        tr
          td= transaction.day
          td
            span(class='icon-' + transaction.type)
            |  #{transaction.category}
          td.text-end= transaction.amount
