extends ../layout

block content
  h1.login-title Iniciar sesi칩n

  form.login(method='POST' action='/login' autocomplete='off')
    div
      input(type='email', name='email' placeholder='Correo electr칩nico' required value='foo@email.com')
    div
      input(type='password', name='password' placeholder='Contrase침a' required value='secret')
    div
      input(type='submit' value='Iniciar sessi칩n')
