extends ../layout

block content
  h1.login-title Crear cuenta

  form.login(method='POST' action='/register' autocomplete='off')
    div
      input(type='text' name='name' placeholder='Nombre' required value='Hugo')
    div
      input(type='email' name='email' placeholder='Correo electrónico' required value='hugoze@email.com')
    div
      input(type='password' name='password' placeholder='Contraseña' required value='123456789')
    div
      input(type='password' name='confirmPassword' placeholder='Confirmar contraseña' required value='123456789')
    div
      input(type='submit' value='Crear cuenta')
